.carousel-content {
    margin-top: 50px;
    
}

img.img-Banner {
    width: 100%;
    display: block;
    object-fit:cover;
    height: 650px;
}
@media (max-width: 850) {
    img.img-Banner {
        height: 450px;
    }
}
@media (max-width: 450) {
    img.img-Banner {
        height: 300px;
    }
}