
.btn-Show-More-Infor {
    display: inline-block !important;
    --fs-11: 14px;
    padding: 5px 10px;
    letter-spacing: 1px;
    
    border-radius: 50px;
    text-align: center;
    display: inline-block;
    color: var(--citrine);
    background: var(--eerie-black);
    &:hover {
        background: var(--eerie-black);
        color: var(--citrine);
        ;
    }
}

.btn-Show-More-Infor-Seat {
    display: inline-block;
    --fs-11: 10px;
    border: 1px solid var(--citrine);
    padding: 5px;
    margin: 5px;
    border-radius: 50px;
    text-align: center;
    
    color: var(--citrine);
    background: var(--eerie-black);
    &:hover {
        color: var(--citrine);
        background: var(--eerie-black);
        overflow: hidden;        
    }
}

h1 {
    font-size: 3em;
    font-weight: 300;
    line-height: 1em;
    text-align: center;
    color: var(--citrine);
}



.blue {
    color: var(--citrine);
    margin: 10px;
}



.container th h1 {
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    color: #185875;
}

.container td {
    font-weight: normal;
    font-size: 1em;
    -webkit-box-shadow: 0 2px 2px -2px #0E1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0E1119;
}

.container {
    text-align: left;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    display: table;
    padding: 0 0 8em 0;
}

.container td,
.container th {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    border: 1px solid var(--citrine)!important;
}

/* Background-color of the odd rows */

.container tr:nth-child(odd) {
    background-color: var(--eerie-black);
}

/* Background-color of the even rows */
.container tr:nth-child(even) {
    background-color: var(--eerie-black);
}

.container th {
    background-color: var(--citrine);
    text-align: center;
}

.container td:first-child {
    color: #FB667A;
    text-align: center;
}

.container tr:hover {
    -webkit-box-shadow: 0 6px 6px -6px #0E1119;
    -moz-box-shadow: 0 6px 6px -6px #0E1119;
    box-shadow: 0 6px 6px -6px #0E1119;
}

.container td:hover {
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

@media (max-width: 800px) {

    .container td:nth-child(4),
    .container th:nth-child(4) {
        display: none;
    }
}