.ul-page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.btn-page{
    color: var(--citrine);
    text-align: center;
    border: 1px solid var(--citrine);
    width: 30px;
}
.li-page{
    margin: 5px 3px;
}