.showtime-close {
    background: url("../images/tv-series-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding-block: var(--section-padding);
    display: none;
}

.showtime-Opent {
    background: url("../images/tv-series-bg.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
}


.cinima {
    background: url(../images/movie-detail-bg.png);
}

.cinima-img {
    width: 47px;
    height: 47px;
    margin: 15px;
    display: inline-block;

    &:hover {
        border: 2px solid var(--citrine);
        border-radius: 100%;
    }
}

.cinima-bg {

    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;

    border-bottom: 1px solid rgb(255, 0, 0);

}

.cinima-list {
    display: flex;
    flex-direction: column;
}

.cinima-cRC {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    align-items: center;
    border-left: 1px solid rgb(255, 0, 0);
    cursor: pointer;

    h3 {
        font-size: 9px;
        color: var(--white);

        a {
            display: inline-block;
            color: red;
        }
    }

    h2 {
        font-size: var(--fs-9);
        color: var(--citrine);
    }

    .timeshow {
        display: inline-block;
        border: 1px solid var(--citrine);
        color: var(--white);
        align-items: center;
        padding: 5px 5px;
        font-size: 9px;
        font-weight: bolder;

        &:hover {
            background-color: var(--citrine);
            color: var(--black);
        }
    }


}

.cinima-cRc-space {
    margin: 0 20px;
    display: flex;
    gap: 5px;
    flex-wrap:wrap;

}


.showtime-subtitle {
    color: var(--citrine);
    font-size: var(--fs-11);
    font-weight: var(--fw-500);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 50px;
    text-align: center;
}

.content-htRap {
    text-align: center;
    border: 1px solid var(--citrine);
    margin-left: 20px;
    padding: 5px;
    width: 200px !important;
    height: 60px !important;
}

.hideContent {
    display: none;
}

.showtime-btn {
    display: flex;
    margin: 1px;
}
.title-start{
    color: var(--citrine);
    font-size: 25px;
}
.content-showTime{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    
}
.timeshows{
    color: var(--citrine);
    border: 1px solid var(--citrine);
    font-size: 12px;
    padding: 5px;
}